@model Pizza
<main>

    <div class="card d-flex flex-row justify-content-between p-3 mb-4 bg-warning">
        <div class="col-6 ">
            <h1>@Model.Name</h1>
            <p>@Model.Description</p>
            <p>Prezzo: @Model.Price&euro;</p>
            <p>Categoria: @Model.Categoria.Name</p>
            <p>Ingredienti:</p>
            <ul>
                 @foreach(Ingrediente ingrediente in @Model.ListaIngredienti)
                 {
                    <li>@ingrediente.Name</li>
                 }
            </ul>
            <a class="btn btn-secondary " href="@Url.Action("Update", "Pizza", new {id = Model.ID})">Modifica pizza </a>
            <form asp-controller="Pizza" asp-action="Delete" asp-route-id="@Model.ID" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Elimina</button>
            </form>
        </div>
                   
        <div class="col-6">
             <img class="w-50 rounded-circle" src="https://static6.depositphotos.com/1000814/612/v/600/depositphotos_6125994-stock-illustration-pizza-salami.jpg" />
        </div>
    </div>

</main>

              

